/* 
    Created on : Jul 23, 2017, 3:40:27 AM
    Author     : tetraPRO( )
                     : Software Wizard
                    : Grand-Master Philip Caputo
                  : **Fullstack Engineer**
*/

#datepicker{
    
}

#amount{
    
}

#fromAccount{
    width: 100%;
}

#toAccount{
    width: 100%;
}

#buttons{
    padding-top: 8px;
}

#clearButton{
    
}